 /* Common styles */
:root {
    --iris-cl: #4D5AE5;
    --ocean-cl: #404BBF;
    --navyblue-cl: #2E2F42;
    --green-cl: #31D0AA;
    --slate-cl: #434455;
    --lightslate-cl: #8E8F99;
    --cornflower-cl: #E7E9FC;
    --cloud-cl: #F4F4FD;
    --white-cl: #FFFFFF;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --diary-modal: #FCFCFC;
}
/**
  |============================
  | Common styles
  |============================
*/
body {
    font-family: Roboto, sans-serif;
    background-color: var(--white-cl);
    color: var(--slate-cl);
}
/* reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
}
.button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    border-radius: 4px;

}
img {
    display: block;
    max-width: 100%;
    max-height: auto;
}
/* Base styles */
/* Base styles for small devices */
.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
/* Base styles for small devices */
.container {
    min-width: 320px;
    max-width: 396px;
    margin: 0 auto;
    padding: 0 16px;
}
/* Tablet screen */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.title {
    color: var(--navyblue-cl);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.subtitle {
    color: var(--navyblue-cl);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/**
  |============================
  | Header styles
  |============================
*/
.header {
    padding-top: 24px;
    padding-bottom: 22px;
    
}
@media only screen and (min-width: 768px) {
   .header { 
    border-bottom: 1px solid var(--cornflower-cl);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav { 
    /* display: flex;
    align-items: center; */
}

.header-nav .list {
    /* display: flex;
    align-items: center;
    gap: 40px; */
}
@media only screen and (max-width: 767px) {
  .header-nav .list {
    display: none;
  }
}
.nav-link {
    position: relative;
    color: var(--navyblue-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    

}
.nav-link.current {
    color: var(--ocean-cl);
}
.nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean-cl);
}
.logo.link {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--iris-cl);
    text-decoration: none;
    /* margin-right: 76px; */
}
.studio-dark {
    color: var(--navyblue-cl);
}
.header-address {
    font-style: normal;
    
}
@media only screen and (max-width: 767px) {
    .header-address {
        display: none;
    }
}
.header-address .list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.header .link{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header .link:hover,
.header .link:focus {
    color: var(--ocean-cl);
}

/**
  |============================
  | Hero section styles
  |============================
*/
.hero {
    background-color: var(--navyblue-cl);
    background-image: url(../images/hero-bg.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
}
.hero-title {
    color: var(--white-cl);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
}
.accent.button {
    background-color: var(--iris-cl);
    color: var(--white-cl);
    padding: 16px 32px;
    border: 0;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accent.button:hover,
.accent.button:focus {
    background-color: var(--ocean-cl);
}
/**
  |============================
  | Benefits section styles
  |============================
*/
.benefits {
    
}
@media screen and (min-width: 768px) {
    .benefits .list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
    .benefits .list {
        flex-wrap: nowrap;
        gap: 24px;
    }
}

@media screen and (max-width: 767px) {
  .benefits .item:not(:last-child) {
      margin-bottom: 72px;
  } 
}
@media screen and (min-width: 768px) {
    .benefits .item {
        flex-basis: calc((100% - 24px) / 2);
    }
  }
@media screen and (min-width: 1158px) {
    .benefits .item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }
}

.benefits .title {
    margin-bottom: 8px;
    
}
@media screen and (min-width: 768px) {
    .benefits .title {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
  .benefits .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
.icon-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--cloud-cl);
    border-radius: 4px;
    margin-bottom: 8px;
}
@media screen and (max-width: 1157px) {
    .icon-bg {
       display: none;
    }
  }

.benefits-icon {
    
}
/**
  |============================
  | Product section styles
  |============================
*/
.product {
   padding-top: 0; 
}
.product .title {
    margin-bottom: 72px;
}
.product .list {
    display: flex;
    gap: 24px;
}
.product .image {
    border: 1px solid var(--cornflower-cl);
}
/**
  |============================
  | Our team section styles
  |============================
*/
.team {
    background-color: var(--cloud-cl);
}
.team .title {
    margin-bottom: 72px;
}
.team .list {
    display: flex;
    gap: 24px;
}
.team .item {
    background-color: var(--white-cl);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team .subtitle{
    text-align: center;
    margin-bottom: 8px;
}
.team .text {
    text-align: center;
    margin-bottom: 8px;
}
.worker-desc {

    width: 232px;
    padding: 32px 0;
    margin: 0 auto;
}
.logo-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.logo-item { 
}
.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    background-color: var(--iris-cl);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link:hover,
.logo-link:focus {
    background-color: var(--ocean-cl);
}
.logo-icon {
    fill: var(--cloud-cl);
}
/**
  |============================
  | Clients Section styles
  |============================
*/
.clients {}

.section {}

.container {}

.clients .title {
    margin-bottom: 72px;
}
.clients-list {
    display: flex;
    gap: 24px;
    justify-content: center;
   
}
.clients-item {}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 168px;
    height: 88px;
    color: var(--lightslate-cl);
    border: 1px solid var(--lightslate-cl);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
    color: var(--ocean-cl);
    border: 1px solid var(--ocean-cl);
}
.clients-icon {
    fill: currentColor;
}
/**
  |============================
  | Portfolio Section styles
  |============================
*/
.portfolio {
    padding-top: 96px;
}

.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.portfolio .button {
    background-color: var(--cloud-cl);
    color: var(--iris-cl);
    padding: 12px 24px;
    border: 1px solid var(--cornflower-cl);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio .button:hover,
.portfolio .button:focus {
    color: var(--white-cl);
    background-color: var(--ocean-cl);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project.list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.project .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-desc {
    border: 1px solid var(--cornflower-cl);
    border-top: 0;
    padding: 32px 16px;
}
.project-desc .subtitle {
    margin-bottom: 8px;
    
}
/* overlay styles */
.img-wrapper {
    position: relative;
    overflow: hidden;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--iris-cl);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project .link:hover .overlay,
.project .link:focus .overlay {
    transform: translateY(0);
}
.project .link:hover, 
.project .link:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);;
}
.overlay.text {
    color: var(--cloud-cl);
    padding: 40px 32px;
}
/**
  |============================
  | Footer styles
  |============================
*/
.footer {
    background-color: var(--navyblue-cl);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.studio-light {
    color: var(--cloud-cl);
}
.footer .logo {
    margin-bottom: 16px;
}
.footer .text {
    color: var(--cloud-cl);
    width: 264px;
}
.footer .logo-list {
    gap: 16px;
}
.logo-container {
    margin-right: 120px;
}
.social-container {
    width: 208px;
    margin-right: 80px;
}
.social-container .text {
    color: var(--white-cl);
    font-weight: 500;
    margin-bottom: 16px;
}
.footer .logo-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .logo-link:hover,
.footer .logo-link:focus {
    background-color: var(--green-cl);
}
/* Footer form style */
.form-container {
    
}

.form-container .text {
    color: var(--white-cl);
    font-weight: 500;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;

}

.subscribe-form-label {}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid var(--white-cl);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}
.subscribe-form-input::placeholder {
    color: currentColor;
}

.form-container .button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-width: 165px;
}

.btn-icon {
    margin-left: 16px;
}
/**
  |============================
  | Modal styles
  |============================
*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navyblue-modal);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: var(--diary-modal);
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: var(--cornflower-cl);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
    background-color: var(--ocean-cl);
    border: none;
}
.close-btn:hover .modal-icon,
.close-btn:focus .modal-icon {
    fill: var(--white-cl);
}
.modal-icon {
    fill: var(--navyblue-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-caption {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    color: var(--navyblue-cl);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.modal-form {}

.modal-form-field {
    display: block;
    margin-bottom: 8px;
}
.modal-form-label {
    display: block;
    margin-bottom: 4px;
    color: var(--lightslate-cl);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.modal-form-label-container {
    position: relative;
}
.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--navyblue-modal);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.modal-form-input:focus {
    border-color: var(--iris-cl);
}
.modal-form-input:focus + .modal-form-icon {
    fill: var(--iris-cl);
}
.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--navyblue-cl);
    width: 18px;
    height: 24px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.modal-form-field.textarea {
    margin-bottom: 16px;
}
.modal-form-textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--navyblue-modal);
    background-color: transparent;
    outline: transparent;
    border: 1px solid var(--navyblue-modal);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
    border-color: var(--iris-cl);
}
.modal-form-textarea::placeholder {
    color: var(--navyblue-modal);
}
.modal-form-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    user-select: none;
    color: var(--lightslate-cl);
    
}
.modal-form-field-checkbox {
    margin-bottom: 24px;
}
.modal-form-checkbox:checked + .modal-form-label-checkbox > .modal-form-custom-checkbox {
    border: none;
    background-color: var(--ocean-cl);
    fill: var(--cloud-cl);
}
.modal-form-custom-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--navyblue-modal);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox-icon {}
.modal-form-link {
    color: var(--iris-cl);
}
/**
  |============================
  | Mobole menu
  |============================
*/
.menu-toggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle-icon {
    stroke: var(--navyblue-cl);
}
.menu-toggle.close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--cornflower-cl);
    border: 1px solid rgba(0, 0, 0, 0.10);
}
.menu-toggle-icon-close {
  fill: var(--navyblue-cl);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--white-cl);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    text-decoration: none;
}
.mobile-menu {}

.mobile-menu-item {
   
}

.mobile-menu-link {
    color: var(--navyblue-cl);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.06em;
    text-transform: capitalize;
}

.mobile-menu-link.accent {
    color: var(--ocean-cl);
}

.mobile-address {
    margin-bottom: 48px;
}
.mobile-address .phone {
    color: var(--iris-cl);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.06em;
    margin-bottom: 40px;
}
.mobile-address .email {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.list {}
.menu-container .logo-list {
    gap: 56px;
    justify-content: flex-start;
}